        </div>
        <footer class="gold-bg">
            <div class="container-fluid inner text-center p-5" id="footer">
                &copy; 2020 Pinnacle
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script>
            $('.carousel-image, .carousel-element a').click(function(e) {
                $(this).parent().find('a')[0].click();
            });
        </script>
    </body>
</html>
