        </div>
        <%- include('footer-body', {showLegal: false}) %>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script>
            $('.carousel-image, .carousel-element a').click(function(e) {
                $(this).parent().find('a')[0].click();
            });
        </script>
    </body>
</html>
