<div class="container-fluid light-bg py-5" id="carousel">
    <div class="container inner">
        <h2 class="mb-2">Upcoming Hackathons</h2>
        <p class="carousel-subtitle mb-4">Participate in an upcoming partner event to qualify for Pinnacle 2021.</p>
        <div class="carousel">
            <button class="carousel-nav mirrorflip">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M10,2l9,10l-9,10h2l9-10L12,2H10z"></path>
                </svg>
            </button>
            <div class="carousel-inner">
                <%
                //sort by date ...
                hackathons.sort(function(a, b) {
                    var a_d = (a.showDate) ? new Date(a.date) : new Date(1/1/99);
                    var b_d = (b.showDate) ? new Date(b.date) : new Date(1/1/99);
                    return a_d - b_d;
                });
                for(var i = 0; i < hackathons.length; i++) {
                    if(hackathons[i].showDate) {%>
                        <%- include('../partials/carousel-element', hackathons[i]); %>
                <%}}%>
            </div>
            <button class="carousel-nav">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M10,2l9,10l-9,10h2l9-10L12,2H10z"></path>
                </svg>
            </button>
        </div>
        <p class="carousel-subtitle mt-4">Check out our <a href="/hackathons">full list</a> of partnered events.</p>
    </div>
</div>
