<div class="container-fluid light-bg py-5" id="pre-description">
    <div class="overflowTriangle">
    </div>
    <div class="container inner eyecatchers">
        <div class="eyecatcher" id="prestige">
            <div class="eyecatcher-icon">
                <img src="assets/diamond.svg" />
            </div>
            <div class="eyecatcher-body">
                <h3>Prestige</h3>
                <p class="eyecatcher-text">Only the best hackers from the best hackathons</p>
            </div>
        </div>
        <div class="eyecatcher" id="fame">
            <div class="eyecatcher-icon">
                <img src="assets/crown.svg" />
            </div>
            <div class="eyecatcher-body">
                <h3>Fame</h3>
                <p class="eyecatcher-text">Be crowned victorious and recognized internationally</p>
            </div>
        </div>
        <div class="eyecatcher" id="unlimited">
            <div class="eyecatcher-icon">
                <img src="assets/infinity.svg" />
            </div>
            <div class="eyecatcher-body">
                <h3>Unlimited</h3>
                <p class="eyecatcher-text">We finance everything so that you can do your best</p>
            </div>
        </div>
    </div>
</div>
