<div class="container-fluid fh fw" id="hero">
    <div class="container inner">
        <img src="assets/icon.png" alt="Pinnacle Logo" class="brandImg mb-3" id="keyLogo">
        <img src="assets/textLogo.png" alt="Pinnacle" class="brandImg" id="keyLabel">
        <span class="byline brandImg mt-4" id="keyByline">The Olympics of Hackathons</span>
    </div>
</div>
