<div class="container-fluid light-bg" id="schedule">
    <div class="container inner">
        <h2>Timeline</h2>
        <%- include('timeline') %>
        <%- include('engagement-deck') %>
    </div>
    <div class="skyline">
        <div class="skyline-component animated off-left" id="skyline_goldengate"></div>
        <div class="skyline-component animated off-right" id="skyline_twinpeaks"></div>
        <div class="skyline-component animated off-right" id="skyline_gold"></div>
        <div class="skyline-component animated off-right" id="skyline_black"></div>
    </div>
</div>
