<div class="container" id="timeline-container">
    <div class="tl-ele timeline-right">
        <span class="timeline-date">Now until August 2021</span>
        <span class="timeline-desc">
            <p>Attend a qualifying hackathon</p>
            <p>Winning teams are invited</p>
            <p><em>Wildcard Tickets</em> are granted to secondary winners if spots become available</p>
        </span>
    </div>
    <div class="tl-ele timeline-right">
        <span class="timeline-date">September 2021</span>
        <span class="timeline-desc">Receive an all-expenses-paid ticket to Pinnacle, the Olympics of Hackathons</span>
    </div>
    <span class="timeline-end">Coming Fall 2021.</span>
    <span class="timeline-socials"><a href="https://twitter.com/pinnacleusorg" target="_blank">Twitter</a> &bull; <a href="https://medium.com/pinnacleusorg" target="_blank">Medium</a> &bull; <a href="https://facebook.com/pinnacleusorg" target="_blank">Facebook</a> &bull; <a href="https://instagram.com/pinnacleusorg" target="_blank">Instagram</a></span>
</div>
