<%- include('partials/simple-header', {title: "Pinnacle • Page Not Found"}) %>
<style>
html, body {
    background-color: var(--pinnacle-bg-light);
}
</style>
<div class="container">
    <a href="/">&lsaquo; Home</a>
    <h2>Page Not Found ...</h2>
    <p>We couldn't find that page! Please recheck the URL or go back <a href="/">to our home page</a>.
</div>
</body>
</html>
