#carousel {
    padding-bottom: 22rem !important;
}
#carousel h2 {
    text-align: center;
    padding-bottom: 0.8rem;
}
#carousel .inner {
    max-width: 90%;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-nav {
    width: 80px;
    -webkit-appearance: none !important;
    border: none !important;
    background: none !important;
    outline: none !important;
    font-size: 3rem;
    overflow: visible;
    transform: scale(1.0);
    transition: transform 0.5s ease;
}
.carousel-nav svg {
    width: 80%;
}
.carousel-nav.clicked {
    transform: scale(1.1);
}
.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}
.carousel-element {
    width: calc(25% - 100px);
    min-width: 140px;
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
    text-align: center;
    flex: 0 0 auto;
    box-sizing: content-box;
}
.carousel-element .carousel-image {
    width: 100%;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.carousel-element .carousel-image:hover {
    transform: translateY(-4px);
}
.carousel-element .carousel-title {
    display: block;
    color: var(--pinnacle-gold);
    font-size: 1.6rem;
}

.carousel-element .carousel-location {
    display: block;
    color: var(--pinnacle-bg);
    font-size: 1.6rem;
}
.carousel-subtitle {
    text-align: center;
    margin-top: 15px;
    font-size: 1.3rem;
}
@media (max-width: 767px) {
    #carousel {
        padding-bottom: 5rem !important;
    }
}
@media (max-width: 1050px) {
    #carousel h2 {
        padding-bottom: 0;
    }
    .carousel-inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .carousel-nav {
        display: none;
    }
}
@media (max-width: 1260px) {
    .carousel-element {
        width: calc(25% - 50px);
        padding-left: 25px;
        padding-right: 25px;
    }

}
@media (min-width: 1550px) {
    #carousel {
        padding-bottom: 20rem !important;
    }

}
