/* Description Section */
#pre-description {
    margin-top: 160vh;
}
#pre-description, #description, #schedule {
    min-height: 800px;
    position: relative;
}
#pre-description .overflowTriangle {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(-60vh + 1px);
    height: 60vh;
    background-color: var(--pinnacle-bg-light);
    color: var(--pinnacle-bg);
    -webkit-clip-path: polygon(50% 100vh, 0% 160vh, 0% 99.99%, 99.99% 99.99%, 100% 160vh);
    clip-path: polygon(50% 100vh, 0% 160vh, 0% 99.99%, 99.99% 99.99%, 100% 160vh);
    overflow: hidden;
}
#description .inner {
    padding: 15% 0;
}
#description .right-body, #schedule .right-body {
    font-size: 28px;
    font-weight: lighter;
    display: block;
    margin-left: auto;
    width: 65%;
}

#description h2, #schedule h2, #carousel h2 {
    font-size: 3.5rem;
    font-family: KeplerStd;
}
#description h2 {
    margin-left: 6rem;
    font-family: KeplerStd;
}

