/* Mobile Optimization */
html#mobileView,
#mobileView body {
    z-index: -5;
    position: absolute;
}
#mobileView .container.inner h2 {
    margin-left: 0;
    text-align: center;
}
#mobileView .container.inner .right-body {
    width: 100%;
    margin: 0;
    padding: 0 5%;
    font-size: 1.5rem;
}
#mobileView #schedule {
    padding-bottom: 350px;
}
#mobileView #schedule .skyline {
    height: 300px;
}
#mobileView #schedule .inner {
    min-height: 0;
}
#mobileView #description, #mobileView #schedule {
    min-height: 80vh;
}
#mobileView canvas {
    display: none;
}
#mobileView .skyline-component.animated {
    transition: none;
    transform: none;
}
#mobileView #scrollDown-container {
    display: none;
}
#mobileView #hero {
    width: 100%;
    height: 90vh;
    position: relative;
    display: block;
    padding-bottom: 120vh;
}
#mobileView #hero .inner {
    padding: 4rem;
    margin-top: 0 !important;

}
#mobileView #hero #keyLabel, #mobileView #hero #keyByline {
    max-width: 100%;
}
#mobileView #pre-description {
    margin-top: 0;
}
#mobileView #pre-description .overflowTriangle {
    top: calc(-30vh + 1px);
    height: 30vh;
    z-index: -1;
}
#mobileView #schedule h2 {
    margin-bottom: 3rem !important;
    padding: 0;
}
#mobileView h2 {
    font-size: 2.5rem;
    width: 100%;
}
#mobileView #schedule {
    min-height: 100vh;
}
#mobileView #schedule .calendar-obj .time,
#mobileView #schedule .calendar-obj .description {
    display: block;
    font-weight: normal;
    font-size: 1rem;
}
#mobileView #schedule .calendar-obj .time {
    float: none;
}
#mobileView #sponsors .inner {
    padding: 8rem 0;
}
#reduced #schedule h2 {
    margin-left: 0;
}
#reduced .container.inner .right-body {
    margin-right: 10%;
}

.mobileOnly {
    display: none;
}
#mobileView .mobileOnly {
    display: block;
}
.mobileOnly.titleDivider {
    width: 100vw;
    height: 50vw;
    margin-bottom: -20vh;
    margin-top: -3rem;
    position: absolute;
    left: 0;
    overflow: hidden;
    pointer-events:none;
}
.mobileOnly.titleDivider .divider-top {
    position: absolute;
    top: 0;
    left: 20%;
    right: 10%;
    height: 3px;
    background-color: var(--pinnacle-bg);
}
.mobileOnly.titleDivider.divider-right .divider-edge {
    position: absolute;
    top: 0;
    left: 60%;
    right: -20%;
    height: 3px;
    background-color: var(--pinnacle-bg);
    transform: rotate(45deg);
}
.mobileOnly.titleDivider.divider-left .divider-top {
    right: 30%;
    left: 10%;
}
.mobileOnly.titleDivider.divider-left .divider-edge {
    position: absolute;
    top: 0;
    right: 60%;
    left: -20%;
    height: 3px;
    background-color: var(--pinnacle-bg);
    transform: rotate(-45deg);
}
.mobileOnly.sideLines {
    position: absolute;
    top: 70vh;
    width: 10vw;
    height: 100vh;
    overflow: hidden;
    left: -20px;
    pointer-events:none;
}
.mobileOnly.sideLines div {
    width: 3px;
    background-color: var(--pinnacle-bg);
    position: absolute;
    z-index: 2;
    right: 0;
}
.mobileOnly.sideLines.sideLinesTop {
    z-index: -2;
}
.mobileOnly.sideLines.sideLinesTop div {
    background-color: var(--pinnacle-gold);
}

.mobileOnly.sideLines .line-in {
    top: -80%;
    bottom: 0%;
    transform: rotate(135deg);
}
.mobileOnly.sideLines .line-out {
    top: 0%;
    bottom: -80%;
    transform: rotate(45deg);
}

.mobileOnly.sideLines .line-side {
    top: 10%;
    bottom: 10%;
}
.ultrawide-capture {
    max-width: 1680px;
    margin-left: auto;
    margin-right: auto;
}
#mobileView .tl-ele {
    flex-direction: column;
    text-align: right !important;
    margin: 3rem 0;
}
#mobileView .timeline-desc {
    margin-right: 0;
}
#mobileView .big-num-container {
    flex-direction: column;
}
