:root {
  --pinnacle-gold: #c79d5e;
  --pinnacle-bg: #1e1e1e;
  --pinnacle-bg-light: #f8f5e8;
}

html {
  background-color: var(--pinnacle-bg);
  color: var(--pinnacle-bg-light);
  font-family: CasperRegular;
  margin: 0;
  padding: 0;
  width: 100%;
}

.bounceLeftAnimation {
  animation-name: bounceLeftAnimation;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

@keyframes bounceLeftAnimation {
  0% {
    transform: translateX(0px);
  }
  70% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0px);
  }
}
.bounceRightAnimation {
  animation-name: bounceRightAnimation;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

@keyframes bounceRightAnimation {
  0% {
    transform: translateX(0px);
  }
  70% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
  }
}
@font-face {
  font-family: "KeplerStd";
  src: url("../font/KeplerStd-LightScn.otf");
  font-weight: normal;
}
@font-face {
  font-family: "KeplerStd";
  src: url("../font/KeplerStd-SemiboldScnDisp.otf");
  font-weight: 500;
}
@font-face {
  font-family: "CasperRegular";
  src: url("../font/Casper-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "CasperBold";
  src: url("../font/Casper-Bold.ttf");
  font-weight: normal;
}
h2 {
  font-family: KeplerStd, serif;
  font-size: 3.5rem;
}

a {
  color: var(--pinnacle-gold);
  transition: color 0.2s;
}

a:hover, a:focus {
  color: var(--pinnacle-bg);
  text-decoration: none;
}

#sponsors a:hover, #sponsors a:focus {
  color: white;
  text-decoration: none;
}

.light-bg {
  background-color: var(--pinnacle-bg-light);
  color: var(--pinnacle-bg);
}

.dark-bg {
  background-color: var(--pinnacle-bg);
  color: var(--pinnacle-bg-light);
}

.gold-bg {
  background-color: var(--pinnacle-gold);
  color: var(--pinnacle-bg);
}

.pinnacle-btn {
  background-image: url("image/brand-btn-bg.svg");
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 4em;
  width: 40%;
}
.pinnacle-btn:focus, .pinnacle-btn:active {
  outline: none;
}

.pinnacle-btn .btn-label {
  font-size: 1.2rem;
  color: var(--pinnacle-bg-light);
  font-weight: bold;
  position: relative;
  z-index: 99;
  letter-spacing: 0.7px;
}

.pinnacle-btn .btn-label > svg {
  height: 0.7em;
  fill: var(--pinnacle-bg-light);
  stroke: var(--pinnacle-bg-light);
}

.pinnacle-btn > svg {
  position: absolute;
  top: 0;
  left: 0;
}

.pinnacle-btn > svg path {
  fill: var(--pinnacle-bg);
  stroke: var(--pinnacle-bg);
  transition: fill 0.3s ease, stroke 0.3s ease;
}

.pinnacle-btn.hover > svg path, .pinnacle-btn:focus > svg path, .pinnacle-btn:hover > svg path {
  fill: var(--pinnacle-gold);
  stroke: var(--pinnacle-gold);
}

.pinnacle-btn.hover, .pinnacle-btn:focus, .pinnacle-btn:hover {
  text-decoration: none;
  color: white;
}

.pinnacle-btn.hover .btn-label, .pinnacle-btn:focus .btn-label, .pinnacle-btn:hover .btn-label {
  transition: color 0.3s ease;
  color: var(--pinnacle-bg);
}

.pinnacle-btn.hover .btn-label, .pinnacle-btn:focus .btn-label, .pinnacle-btn:hover .btn-label {
  color: white;
}

body.lockScroll {
  overflow-y: hidden;
}

.fw {
  width: 100vw;
}

.fh {
  height: 100vh;
}

.fhplus {
  height: calc(120vh);
}

@media (min-width: 1200px) {
  .inner {
    max-width: 900px;
  }
}
/* W H A T */
.arrow::before {
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: "";
  display: inline-block;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  height: 0.5em;
  position: relative;
  top: 0.15em;
  vertical-align: top;
  width: 0.5em;
  left: 0;
  transform: rotate(45deg);
}

.overflow-hide {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.scroll-container {
  background-color: red;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* Teaser Code */
#count-display {
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  color: black;
  background-color: white;
  border: 1px solid black;
  z-index: -1;
  opacity: 0;
  transition: opacity 1s;
}

/*# sourceMappingURL=global.css.map */
