
@use './utility/root';
@use './utility/animations';
@use './utility/typography';

@use './components/brandbtn';

body.lockScroll {
	overflow-y: hidden;
}

.fw {
	width: 100vw;
}

.fh {
	height: 100vh;
}

.fhplus {
	height: calc(120vh);
}

@media (min-width: 1200px) {
	.inner {
		max-width: 900px;
	}
}

/* W H A T */


.arrow::before {
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: '';
  display: inline-block;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  height: 0.5em;
  position: relative;
  top: 0.15em;
  vertical-align: top;
  width: 0.5em;
	left: 0;
	transform: rotate(45deg);
}

.overflow-hide {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.scroll-container {
	background-color: red;
	width: 100%;
	height: 100vh;
	overflow-y: hidden;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

/* Teaser Code */
#count-display {
	position: fixed;
	top: 0;
	right: 0;
	padding: 5px;
	color: black;
	background-color: white;
	border: 1px solid black;
	z-index: -1;
	opacity: 0;
	transition: opacity 1s;
}