:root {
    --pinnacle-gold: rgb(198, 158, 96);
    --pinnacle-bg: rgb(30, 29, 29);
}
html, body {
    color: rgb(248, 246, 237);
    font-family: KeplerStd;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "KeplerStd";
    src: url("font/KeplerStd-LightScn.otf");
    font-weight: normal
}
@font-face {
    font-family: "KeplerStd";
    src: url("font/KeplerStd-SemiboldScnDisp.otf");
    font-weight: 500;
}
.fw {
    width: 100vw;
}
.fh {
    height: 100vh;
}
.fhplus {
    height: calc(120vh);
}
@media (min-width: 1200px) {
    .inner {
        max-width: 900px;
    }
}
#hero {
    background-color: var(--pinnacle-bg);
    color: var(--pinnacle-gold);
    text-align: center;
    position: fixed;
    top:0;
    left:0;
    z-index: -2;
}
#hero .brandImg {
    width: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
}
#hero #keyLogo {
    width: 10rem;
}
#hero #keyLabel {
    margin-top: 4rem !important;
}
#hero #keyByline {
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 1.2px;
}
.container-fluid {
    padding: 0;
}
#hero .inner {
    padding-top: 4rem;
}
#scrollDown-container {
    width: 5vw;
    height: 5vw;
    /* height: 0; */
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    /* background-color: black; */
    /* mix-blend-mode: difference; */
}
#scrollDown-container svg {
    width: 100%;
    height: 100%;
}

.light-bg {
    background-color: rgb(248, 246, 237);
    color: rgb(30, 29, 29);
}
.dark-bg {
    background-color: var(--pinnacle-bg);
    color: rgb(248, 246, 237);
}
.gold-bg {
    background-color: var(--pinnacle-gold);
    color: rgb(30, 29, 29);
}
#description {
    margin-top: 160vh;
}
#description, #schedule {
    min-height: 100vh;
    position: relative;
}
#schedule {
    min-height: 110vh;
}
#description .overflowTriangle {
    position: absolute;
    left: 0;
    right: 0;
    top:-60vh;
    height: 60vh;
    background-color: rgb(248, 246, 237);
    color: rgb(30, 29, 29);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}
#description .right-body, #schedule .right-body {
    font-size: 28px;
    font-weight: lighter;
    display: block;
    margin-left: auto;
    width: 65%;
}
#description h2, #schedule h2 {
    font-size: 3.5rem;
}
#description h2 {
    margin-left: 6rem;
}
#schedule h2 {
    margin-left: -8rem;
}
#schedule .inner {
    min-height: 40rem;
}
#schedule .right-body {
    margin-top: 8rem;
    font-size: 34px;
}
.calendar-obj {
    font-weight: bold;
}
.calendar-obj .time {
    float: left;
    display: inline-block;
}
.calendar-obj .description {
    float: right;
    display: inline-block;
}
.skyline {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 400px;
}
.skyline-component {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
#skyline_brdg {
    background-image: url('skyline_bridge.svg');
}
#skyline_gold {
    background-image: url('skyline_gold.svg');
}
#skyline_dark {
    background-image: url('skyline_dark.svg');
}
#sponsors {
    text-align: center;
    z-index: 1;
}
#sponsors .inner {
    padding: 18rem 0;
}
#sponsors h2 {
    font-size: 3rem;
}
.sponsor-logos {
    width: 100%;
}
.sponsor-logos .sponsor {
    margin: 3rem auto;
    width: 30vw;
    display: block;
}
.sponsor-logos .sponsor img {
    max-width: 100%;
    max-height: 30vh
}
.sponsor-logos .sponsor#aviato img {
    filter: invert();
}
footer {
    font-size: 1.2rem;
    font-weight: bolder;
    letter-spacing: 1.2px;
}
footer .inner {
    padding-top: 4rem !important;
    padding-bottom: 1rem !important;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
    transition: clip-path 0.2s ease-out;
}
