/* Global + Utility */
:root {
    --pinnacle-gold: rgb(198, 158, 96);
    --pinnacle-bg: rgb(30, 29, 29);
}
html, body {
    background-color: var(--pinnacle-bg);
    color: rgb(248, 246, 237);
    font-family: KeplerStd;
    margin: 0;
    padding: 0;
    width: 100%;

}
body.lockScroll {
    overflow-y: hidden;
}
@font-face {
    font-family: "KeplerStd";
    src: url("font/KeplerStd-LightScn.otf");
    font-weight: normal
}
@font-face {
    font-family: "KeplerStd";
    src: url("font/KeplerStd-SemiboldScnDisp.otf");
    font-weight: 500;
}
.fw {
    width: 100vw;
}
.fh {
    height: 100vh;
}
.fhplus {
    height: calc(120vh);
}
@media (min-width: 1200px) {
    .inner {
        max-width: 900px;
    }
}
.light-bg {
    background-color: rgb(248, 246, 237);
    color: var(--pinnacle-bg);
}
.dark-bg {
    background-color: var(--pinnacle-bg);
    color: rgb(248, 246, 237);
}
.gold-bg {
    background-color: var(--pinnacle-gold);
    color: var(--pinnacle-bg);
}
a {
    color: var(--pinnacle-gold);
    transition: color 0.2s;
}
a:hover, a:focus {
    color: var(--pinnacle-bg);
    text-decoration: none;
}
#sponsors a:hover, #sponsors a:focus {
    color: white;
    text-decoration: none;
}
/* Hero Section */
#hero {
    background-color: var(--pinnacle-bg);
    color: var(--pinnacle-gold);
    text-align: center;
    position: fixed;
    top:0;
    left:0;
    z-index: -3;
    display: flex;
    align-items: center;
}
#hero .brandImg {
    width: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
}
#hero #keyLogo {
    width: 10rem;
    padding-right: 3px;
}
#hero #keyLabel {
    margin-top: 4rem !important;
}
#hero #keyByline {
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 1.2px;
}
#hero #liveEvent {
    font-size: 2em;
    width: 100%;
    display: block;
    margin: 2em 0;
}
#hero #liveEvent a {
   color: var(--pinnacle-gold);
   text-shadow: 0 0 4px #c69e604d;
   text-shadow: 0 0 8px rgba(198, 158, 96, 0.4);
   transition: text-shadow 0.3s ease;
}
#hero #liveEvent a:hover {
   color: var(--pinnacle-gold);
   text-shadow: 0 0 8px rgba(198, 158, 96, 0.8);
   text-shadow: 0 0 12px rgba(198, 158, 96, 0.8);
}
.container-fluid {
    padding: 0;
}
#hero .inner {
    margin-top: -8rem;
    transition: margin-top 0.2s ease-out;
}

/* Mouse overlay */
#scrollDown-container {
    width: 5vw;
    height: 5vw;
    max-width: 25px;
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    /* bad performance issues with blending this appropriately */
    /* mix-blend-mode: difference; */
}
#scrollDown-container img {
    width: 100%;
}

/* Description Section */
#pre-description {
    margin-top: 160vh;
}
#pre-description, #description, #schedule {
    min-height: 800px;
    position: relative;
}
#pre-description .overflowTriangle {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(-60vh + 1px);
    height: 60vh;
    background-color: rgb(248, 246, 237);
    color: var(--pinnacle-bg);
    -webkit-clip-path: polygon(50% 100vh, 0% 160vh, 0% 99.99%, 99.99% 99.99%, 100% 160vh);
    clip-path: polygon(50% 100vh, 0% 160vh, 0% 99.99%, 99.99% 99.99%, 100% 160vh);
    overflow: hidden;
}
#description .right-body, #schedule .right-body {
    font-size: 28px;
    font-weight: lighter;
    display: block;
    margin-left: auto;
    width: 65%;
}
#description h2, #schedule h2, #carousel h2 {
    font-size: 3.5rem;
}
#description h2 {
    margin-left: 6rem;
}

/* Schedule Section */
#schedule {
    padding-bottom: 550px;
}
#schedule h2 {
    text-align: center;
}
#schedule .inner {
    min-height: 40rem;
}
#schedule .right-body {
    margin-top: 8rem;
    font-size: 34px;
}
.calendar-obj {
    font-weight: bold;
}
.calendar-obj .time {
    float: left;
    display: inline-block;
}
.calendar-obj .description {
    float: right;
    display: inline-block;
}

/* Animated Skyline */
.skyline {
    width: calc(100% + 1px);
    position: absolute;
    left: -1;
    right: 1;
    bottom: -1px;
    height: 650px;
    overflow-x: hidden;
    pointer-events: none;
}
.skyline-component {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    position: absolute;
}
#skyline_black {
    background-image: url('skyline/black.svg');
}
#skyline_gold {
    background-image: url('skyline/gold.svg');
}
#skyline_goldengate {
    background-image: url('skyline/goldengate.svg');
}
#skyline_twinpeaks {
    background-image: url('skyline/twinpeaks.svg');
}
.skyline-component.animated {
    transition: transform 2s ease;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    will-change: transform;
}
.skyline-component.off-right {
    -webkit-transform: translateX(103%);
    transform: translateX(103%);
}
.skyline-component.off-left {
    -webkit-transform: translateX(-103%);
    transform: translateX(-103%);
}

/* Sponsors Section */
#sponsors {
    text-align: center;
    z-index: 1;
}
#sponsors .inner {
    padding: 18rem 0;
}
#sponsors h2 {
    font-size: 3rem;
}
.sponsor-logos {
    width: 100%;
}
.sponsor-logos .sponsor {
    margin: 3rem auto;
    width: 100%;
    display: block;
    max-width: 300px;
}
.sponsor-logos .sponsor img {
    width: 100%;
    max-height: 30vh
}
/* Sponsor Specific Adjustments */
#hack-plus {
}
#sponsor-ad {
    max-width: 100%;
    font-size: 2rem;
}
/* Footer */
footer {
    font-size: 1.2rem;
    font-weight: bolder;
    letter-spacing: 1.2px;
/* Edge to Edge footer on ultrawide */
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Overlay Lines */
.linesCanvas-outside, .linesCanvas-inside {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    top:0;
    overflow: hidden;
    pointer-events:none;
}
.linesCanvas-inside {
    /* max-height: 0px;
    will-change: max-height;
    transition: max-height 0.5s ease-out; */
}
.linesCanvas-outside#mainCanvas {
    -webkit-clip-path: polygon(50% 100vh, 0% 160vh, 0% 100%, 100% 100%, 100% 160vh);
    clip-path: polygon(50% 100vh, 0% 160vh, 0% 100%, 100% 100%, 100% 160vh);
}
.linesCanvas-outside#initialCanvas {
    z-index: -1;
}
.generatedLine-container {
    position: absolute;
}
.generatedLine-line {
    height: 3px;
    background-color: var(--pinnacle-bg);
    transform-origin: 0px 1.5px;
    max-width: 0px;
    will-change: max-width;
    transition: max-width 0.5s ease-out;

}
#initialCanvas .generatedLine-line {
    background-color: var(--pinnacle-gold);
}

/* Mobile Optimization */
html#mobileView,
#mobileView body {
    z-index: -5;
    position: absolute;
}
#mobileView .container.inner h2 {
    margin-left: 0;
    text-align: center;
}
#mobileView .container.inner .right-body {
    width: 100%;
    margin: 0;
    padding-left: 10vw;
    font-size: 1.5rem;
}
#mobileView #schedule {
    padding-bottom: 350px;
}
#mobileView #schedule .skyline {
    height: 300px;
}
#mobileView #schedule .inner {
    min-height: 0;
}
#mobileView #description, #mobileView #schedule {
    min-height: 80vh;
}
#mobileView canvas {
    display: none;
}
#mobileView .skyline-component.animated {
    transition: none;
    transform: none;
}
#mobileView #scrollDown-container {
    display: none;
}
#mobileView #hero {
    height: 90vh;
    position: relative;
    display: block;
    padding-bottom: 120vh;
}
#mobileView #hero .inner {
    padding: 4rem;
    margin-top: 0 !important;

}
#mobileView #hero #keyLabel, #mobileView #hero #keyByline {
    max-width: 100%;
}
#mobileView #pre-description {
    margin-top: 0;
}
#mobileView #pre-description .overflowTriangle {
    top: calc(-30vh + 1px);
    height: 30vh;
    z-index: -1;
}
#mobileView #schedule h2 {
    margin-bottom: 3rem !important;
    padding: 0;
}
#mobileView h2 {
    font-size: 2.5rem;
    width: 100%;
}
#mobileView #schedule {
    min-height: 100vh;
}
#mobileView #schedule .calendar-obj .time,
#mobileView #schedule .calendar-obj .description {
    display: block;
    font-weight: normal;
    font-size:
}
#mobileView #schedule .calendar-obj .time {
    float: none;
}
#mobileView #sponsors .inner {
    padding: 8rem 0;
}
#reduced #schedule h2 {
    margin-left: 0;
}
#reduced .container.inner .right-body {
    margin-right: 10%;
}

.mobileOnly {
    display: none;
}
#mobileView .mobileOnly {
    display: block;
}
.mobileOnly.titleDivider {
    width: 100vw;
    height: 50vw;
    margin-bottom: -20vh;
    margin-top: -3rem;
    position: absolute;
    left: 0;
    overflow: hidden;
    pointer-events:none;
}
.mobileOnly.titleDivider .divider-top {
    position: absolute;
    top: 0;
    left: 20%;
    right: 10%;
    height: 3px;
    background-color: var(--pinnacle-bg);
}
.mobileOnly.titleDivider.divider-right .divider-edge {
    position: absolute;
    top: 0;
    left: 60%;
    right: -20%;
    height: 3px;
    background-color: var(--pinnacle-bg);
    transform: rotate(45deg);
}
.mobileOnly.titleDivider.divider-left .divider-top {
    right: 30%;
    left: 10%;
}
.mobileOnly.titleDivider.divider-left .divider-edge {
    position: absolute;
    top: 0;
    right: 60%;
    left: -20%;
    height: 3px;
    background-color: var(--pinnacle-bg);
    transform: rotate(-45deg);
}
.mobileOnly.sideLines {
    position: absolute;
    top: 70vh;
    width: 10vw;
    height: 100vh;
    overflow: hidden;
    left: -20px;
    pointer-events:none;
}
.mobileOnly.sideLines div {
    width: 3px;
    background-color: var(--pinnacle-bg);
    position: absolute;
    z-index: 2;
    right: 0;
}
.mobileOnly.sideLines.sideLinesTop {
    z-index: -2;
}
.mobileOnly.sideLines.sideLinesTop div {
    background-color: var(--pinnacle-gold);
}

.mobileOnly.sideLines .line-in {
    top: -80%;
    bottom: 0%;
    transform: rotate(135deg);
}
.mobileOnly.sideLines .line-out {
    top: 0%;
    bottom: -80%;
    transform: rotate(45deg);
}

.mobileOnly.sideLines .line-side {
    top: 10%;
    bottom: 10%;
}
.ultrawide-capture {
    max-width: 1680px;
    margin-left: auto;
    margin-right: auto;
}

/* Timeline element (replaces Schedule) */
#timeline-container {
    font-size: 28px;
    font-weight: lighter;
    display: block;
    margin-left: auto;
    width: 100%;
    margin-top: 8%;
    padding: 0 10%;
}
.tl-ele {
    display: flex;
    width: 100%;
    margin: 6rem 0;
}
.tl-ele.timeline-right {
    justify-content: flex-end;
}
.tl-ele.timeline-left {

}
.timeline-desc {
    margin-left: 10%;
    color: var(--pinnacle-gold);
}
.timeline-date {
    font-weight: bold;
    min-width: 150px;
    width: 60%;
    text-align: left;
}
.timeline-end {
    margin-top: 8rem;
    display: block;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 0 3rem;
}
.timeline-socials {
    text-align: center;
    display: block;
    font-size: 1.3rem;
    padding-bottom: 1rem;
}
.timeline-end.lead {
    font-size: 2rem;
    padding-bottom: 3rem;
    font-weight: normal;
}
.pinnacle-btn {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 40%;
}
.pinnacle-btn:focus, .pinnacle-btn:active {
    outline: none;
}
.pinnacle-btn .btn-label {
    font-size: 1.2rem;
    color: #F7F5E8;
    font-weight: bold;
    position: relative;
    z-index: 99;
    letter-spacing: 0.7px;
}
.pinnacle-btn .btn-label > svg {
    height: 0.7em;
    fill: #F7F5E8;
    stroke: #F7F5E8;
}
.pinnacle-btn > svg {
    position: absolute;
    top:0;
    left:0;
}
.pinnacle-btn > svg path {
    fill: #1B1B1B;
    stroke: #1B1B1B;
    transition: fill 0.3s ease, stroke 0.3s ease;
}
.pinnacle-btn.hover > svg path,
.pinnacle-btn:focus > svg path,
.pinnacle-btn:hover > svg path {
    fill: #C69E60;
    stroke: #947043;
}
.pinnacle-btn.hover,
.pinnacle-btn:focus,
.pinnacle-btn:hover {
    text-decoration: none;
    color: white;
}
.pinnacle-btn.hover .btn-label,
.pinnacle-btn:focus .btn-label,
.pinnacle-btn:hover .btn-label {
    transition: color 0.3s ease;
    color: var(--pinnacle-bg);
}

.pinnacle-btn.hover .btn-label,
.pinnacle-btn:focus .btn-label,
.pinnacle-btn:hover .btn-label {
    color: white;
}
#mobileView .tl-ele {
    flex-direction: column;
    text-align: right !important;
    margin: 3rem 0;
}
#mobileView .timeline-desc {
    margin-right: 0;
}

.card, .card-body, .card-footer {
    background: none;
    border: none;
}
.engagement-deck {
    margin-bottom: 3rem;
}
.engagement-deck .card {
    text-align: center;
}
.engagement-deck .card .card-body {
    padding-bottom: 0;
}
.engagement-deck .card p.card-text {
    font-size: 1.5rem !important;
}
.card.card-divider {
    flex: 0 0 3px;
    background-color: var(--pinnacle-gold);
    margin-top: 40px;
    margin-bottom: 40px;
}
#applybtn {
    min-width: 180px;
}
#updatedbtn {
    min-width: 180px;
}
.stacked-input {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.input-group input {
    border-color: #1B1B1B;
    border-width: 3px;
    border-radius: 0;
    color: black;
    background-color: rgb(248, 246, 237);
    font-size: 1.3rem;
    padding: 0.5rem 0.6rem;
}
.input-group input::placeholder {
    color: var(--pinnacle-bg);
}
.input-group input:focus, .input-group input:active {
    outline: none;
    box-shadow: none;
    border-color: #1B1B1B;
    background-color: rgb(248, 246, 237);
    color: black;
}

.stacked-input .input-group:first-child input {
    border-bottom-width: 0.5px;
}
.stacked-input .input-group:last-child input {
    border-top-width: 0.5px;
}

.arrow::before {
	border-style: solid;
	border-width: 2px 2px 0 0;
	content: '';
	display: inline-block;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
	height: 0.5em;
	position: relative;
	top: 0.15em;
	vertical-align: top;
	width: 0.5em;
    left: 0;
    transform: rotate(45deg);
}
#footer > a {
    color: var(--pinnacle-bg);
}
#footer > a:hover {
    text-decoration: underline;
}
.legalees .small {
    letter-spacing: 0.3px;
    font-size: 70%;
}
.legalees a {
    color: var(--pinnacle-bg);
    text-decoration: underline;
}
.legalees a:hover {
    text-decoration: underline;
}
#carousel {
    padding-bottom: 22rem !important;
}
#carousel h2 {
    text-align: center;
    padding-bottom: 0.8rem;
}
#carousel .inner {
    max-width: 90%;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-nav {
    width: 80px;
    -webkit-appearance: none !important;
    border: none !important;
    background: none !important;
    outline: none !important;
    font-size: 3rem;
    overflow: visible;
    transform: scale(1.0);
    transition: transform 0.5s ease;
}
.carousel-nav svg {
    width: 80%;
}
.carousel-nav.clicked {
    transform: scale(1.1);
}
.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}
.carousel-element {
    width: calc(20% - 20px);
    min-width: 140px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    flex: 0 0 auto;
}
.carousel-element .carousel-image {
    width: 100%;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.carousel-element .carousel-image:hover {
    transform: translateY(-4px);
}
.carousel-element .carousel-title {
    display: block;
    color: var(--pinnacle-gold);
    font-size: 1.6rem;
}

.carousel-element .carousel-location {
    display: block;
    color: var(--pinnacle-bg);
    font-size: 1.6rem;
}
.carousel-subtitle {
    text-align: center;
    margin-top: 15px;
    font-size: 1.5rem;
}
@media (max-width: 767px) {
    #carousel {
        padding-bottom: 5rem !important;
    }
}
@media (max-width: 1050px) {
    #carousel h2 {
        padding-bottom: 0;
    }
    .carousel-inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .carousel-nav {
        display: none;
    }
}
@media (min-width: 1550px) {
    #carousel {
        padding-bottom: 28rem !important;
    }

}
.mirrorflip {
    transform: scale(-1, 1);
}
.mirrorflip.clicked {
    transform: scale(-1.1, 1.1);
}
.bounceLeftAnimation {
    animation-name: bounceLeftAnimation;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}
@keyframes bounceLeftAnimation {
    0% {
        transform: translateX(0px);
    }
    70% {
        transform: translateX(-15px);
    }
    100% {
        transform: translateX(0px);
    }
}

.bounceRightAnimation {
    animation-name: bounceRightAnimation;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}
@keyframes bounceRightAnimation {
    0% {
        transform: translateX(0px);
    }
    70% {
        transform: translateX(15px);
    }
    100% {
        transform: translateX(0px);
    }
}


.big-num-container {
    display: flex;
    width: 100%;
}
.big-num-container .big-num {
    flex-basis: 33%;
    text-align: center;
    padding: 0 5%;
}
.big-num .big-num-num {
    font-size: 5rem;
    font-weight: bold;
}
.big-num .big-num-label {
    color: var(--pinnacle-gold);
    font-size: 1.5rem
}


#pre-description {
    height: 100vh;
}
.overflow-hide {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.scroll-container {
    background-color: red;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#pre-description .eyecatchers {
    height: 100vh;
    position: relative;
}
.eyecatcher {
    display: flex;
    height: 100vh;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 20%;
    opacity: 0;
    padding: 0 10%;
    left: 0;
}
.eyecatcher-icon {
    width: 25%;
}
.eyecatcher-icon img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eyecatcher-body {
    width: 60%;
    margin-left: 15%;
}
.eyecatcher-body h3 {
    font-size: 3rem;
}
.eyecatcher-body p {
    font-size: 1.5rem;
}
