
html {
	background-color: var(--pinnacle-bg);
	color: var(--pinnacle-bg-light);
	font-family: "Noto Sans", sans-serif;
	line-height: 1.5;
	scroll-behavior: smooth;
}

@media (min-width: 1200px) {
	.inner {
		max-width: 1100px;
	}
}

.component-section, .component-section-large {
	box-sizing: border-box;
}

.component-section {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.component-section-large {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

@media (min-width: 768px) {
	.component-section {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	
	.component-section-large {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}
}