
@media (min-width: 1200px) {
	.inner {
		max-width: 900px;
	}
}

.component-section, .component-section-large {
	box-sizing: border-box;
}

.component-section {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.component-section-large {
	padding-top: 6rem;
	padding-bottom: 6rem;
}

@media (min-width: 768px) {
	.component-section {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	
	.component-section-large {
		padding-top: 12rem;
		padding-bottom: 12rem;
	}
}