
.fw {
	width: 100vw;
}

.fh {
	height: 100vh;
}

@media (min-width: 1200px) {
	.inner {
		max-width: 900px;
	}
}

.container-wide {
	.component-section {
		padding: 2rem 0;
	}
	
	.component-section-large {
		padding: 6rem 0;
	}

	@media (min-width: 768px) {
		.component-section {
			padding: 4rem 0;
		}
		
		.component-section-large {
			padding: 12rem 0;
		}
	}
}