
:root {
	--pinnacle-gold: #C69E60;
	--pinnacle-bg: #1e1e1e;
	--pinnacle-bg-light: #f8f5e8;
}

html {
	background-color: var(--pinnacle-bg);
	color: var(--pinnacle-bg-light);
	font-family: "Noto Sans", sans-serif;
	line-height: 1.5;
}