
@media (min-width: 1200px) {
	.inner {
		max-width: 1100px;
	}
}

$padding-sm: 3rem;
$padding-md: 6rem;
$padding-lg: 12rem;

.component-section, .component-section-large {
	box-sizing: border-box;
}

.component-section {
	padding-top: $padding-sm;
	padding-bottom: $padding-sm;
}

.component-section-large {
	padding-top: $padding-md;
	padding-bottom: $padding-md;
}

@media (min-width: 768px) {
	.component-section {
		padding-top: $padding-md;
		padding-bottom: $padding-md;
	}
	
	.component-section-large {
		padding-top: $padding-lg;
		padding-bottom: $padding-lg;
	}
}